@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared Class */
.text-details{
    color: #727272;
}
.display-flex{
    display: flex;
}
.span-2{
    font-weight: 800;
    font-size: 2.81rem;
}
/* Header */
header{
    background-color: rgb(255, 144, 14, 10%);
    max-width: 1920px;
    margin: 0 auto;
}
.header-content{
    max-width: 1440px;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.8125rem;
    font-weight: bold;
    margin-top: 30px;
 
}
.nav-items{
    gap: 50px;
    margin-top: 0px;
}
.nav-items li {
    list-style: none;
}
.nav-items li a{
    text-decoration: none;
    font-size: 18px;
    font-weight:500 ;
    color: black;
}
/* Banner related styles */
.banner-content{
    max-width:840px ;
    margin: 0 auto;
    text-align: center;
}
.brand-title{
    font-size: 64;
}
.primary-btn  {   
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    background-color: #FF900E;
    margin-bottom: 50px;
}
.primary-btn a{
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}
.banner-img img{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 45px;
}



/* Header end */

/* Main  */
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.quick-features{
    gap: 73px;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 39px;
}
.quick-features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
  
}
.quick-features-text{
    max-width: 537px;
}
.quick-features-title{
    margin-bottom: 25px;
}
.quick-features-title .span-1{
    font-size: 2.81rem;
    font-weight: 500;

}
.quick-features-title .span-2{
    font-weight: 800;
    font-size: 2.81rem;
    
}
.quick-features-title .span-3{
    font-weight: 800;
    color: #FF900E;
    font-size: 2.81rem;
}
.quick-features-text .primary-btn{
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 35px;
   
}
/* Lovely features */
.lovely-features{
    display: flex;
    margin-top: 130px;
    margin-bottom:130px;
    gap: 140px;
}
.lovely-features .span-2{
    border-left: 5px solid #FF900E;
    padding-left: 15px;
    font-size: 2.81em;
}
.lovely-features-items{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 35px;
    border-radius: 8px;
    margin-bottom: 20px;  
}
.lovely-features-items .text-details{
    margin: 0;
   

}
.lovely-features-title{ 
    margin: 0px;
    padding-bottom: 10px;
}

/* Facts */
.facts-container .text-details{ 
    margin-bottom: 100px;
}
.facts-award{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:124px;
    width: 90%;
    margin: 0 auto;
}
.facts-award-items{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    padding: 20px;
    font-weight: 600;
 
}
.award-number{
    font-size: 2.81rem;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #424242;
    
}
.award-name{
    color: #727272;
  
}
/* Our sponsor */
.our-sponsors{
    text-align: center;
    margin-top: 180px;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
    margin-top: 50px;
    margin-bottom:130px ;
}
/* Footer */
.footer{
    background-color: rgb(255, 144, 14, 10%);
    width: 1440px;
    margin:  0 auto;
    text-align: center;
    padding: 40px 0px 40px 0px;
    font-size: 1.25rem;
}
/* Responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-items, .quick-features{
        flex-direction: column;       
    } 
    .quick-features-img, .facts-award{
        grid-template-columns: 1fr;
    }
    .sponsor-company{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
       padding-left: 100px;
    }
    .facts-award{
        gap: 20px;
        justify-items: center;
    }
    .footer{
        width: 412px;
        font-size: 1rem;
        padding: 40px 15px 40px 15px;
    }
}